*{
  margin: 0;
  padding: 0;
}

button{
  margin: 40px auto 0;
  font-size: 16px;
  padding: 6px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#333333;
  color: white;
  box-shadow: 3px 3px 4px 0px rgba(0, 0, 1, 0.5);
}
svg{
  margin-left: 10px;
}
.btn_dark{
  background-color: black;
}